/*
   statusbar-overlay sets the background color for the overlay. Black text is the default when the statusbar plugin is not added. When the
   statusbar plugin is added, it also adds default setting to make the content white via:

       <preference name="StatusBarStyle" value="lightcontent"/>

   Setting the background color to black will allow the default light content (white text/icons) to show on it. The statusbar plugin is included
   in the config.xml file and will be added by the CLI when you build locally.

   See https://github.com/apache/cordova-plugin-statusbar
*/
/*input::-webkit-input-placeholder {
color: #808080 !important;
}*/
/* 
input:-moz-placeholder {  Firefox 18- 
color: #808080 !important;  
}*/
 
/*input::-moz-placeholder {   Firefox 19+ 
color: #808080 !important;  
}
 */
/*input:-ms-input-placeholder {  
color: #808080 !important;  
}
*/
/*textarea*/
/*textarea::-webkit-input-placeholder {
color: #808080 !important;
}
 
textarea:-moz-placeholder { /* Firefox 18- 
color: #808080 !important;  
}*/
 
/*textarea::-moz-placeholder {   Firefox 19+ 
color: #808080 !important;  
}
 */
/*textarea:-ms-input-placeholder {  
color: #808080 !important;  
}
*/


.div-error
{
	color: red;
	font-size: 16px;
	text-align: center;
	padding: 0px;
	
}
.navbar
,.toolbar
{
    background-color: #9225a7;
    text-transform: capitalize;

}

.tabbar a.tab-link
{
	 text-transform: none;
	 font-size: 100%;
}

/*panel here*/
.panel
{
	width: 280px;
	background:#f2f2f2;
}

.head-slidepanel
{
	width: 100%;
	height: 150px;
  	box-sizing: border-box;
 	position: relative;
 	 margin: 0;
  	z-index: 500;
  	-webkit-backface-visibility: hidden;
  	backface-visibility: hidden;
	background-color:#7a1c97; 
	padding : 0px;
	
}
.left-panel-menu
{
	margin-top: 0px;

}
.left-panel-menu .item-content .item-inner .item-title span
{
	color: #9d24c2;
}
.head-slidepanel-content-left span
{
	margin: 0 0 0 5%;
	color: #f2f2f2;

}
.head-slidepanel-content-right
{
	
	color: #f2f2f2;
}
 /* icon*/
  .size-icon-20 {

		font-size: 20px;
  }
 .size-icon-25 {

		font-size: 25px;
  }
 .size-icon-23 {

		font-size: 23px;
  }
   .size-icon-30 {

		font-size: 30px;
  }
  .size-icon-35 {

		font-size: 35px;
  }
  .size-img-25
  {
  	width: 25px ;
	height : 25px;
  }
  .size-title
  {
  	font-size: 18px;
  }

 /* cho biết màu icon khi dùng hình ảnh*/
.color-icon { color: #f3eee0 ;} 
.color-icon-black
{
	color: #1e1e20;
}
.color-icon-panel
{
	color: #9d24c2;
}
.item-content .item-inner .item-title span
{
	font-size: 100%;
	color: #57146c;

}

/*logo*/
.img-logo
{
	width: 36px;
	height: 36px;
	margin-left: 5%;
	
}

/*content here*/
.page-content
{
	background-color: white;
}

/*.product-index
{
	background-color: #f2f2f2 ;
	position:relative;
	width: 85%;
	height: 100%;
	padding: 10px 10px 10px 10px;
	font-size: 12px;
	
	

}*/



.page-content .content-block .col-50
{
	
	max-height: 100%;
	max-width: : 100%;
	line-height: 100%;
	text-align:center;
	border-width: 3px;
	border-color: red;
	background-color: #f2f2f2;
	margin-top: 5px;
	margin-bottom: 5px;
	border: 1px solid #d9d9d9;


}
.page-content .content-block .col-50 img
{
	
	width: 85%;
	height:100px;
	object-fit: contain;
	vertical-align: middle;
	padding: 10px 10px 10px 10px;
	
}
.page-content .content-block .col-50  b,span
{
	text-align:left;
	padding: 10px 10px 10px 10px;
}

.product-index-info
{
	padding-bottom: 10px;
}

.product-index-info span
{
	
	text-align:left;
	
	
	/*padding: 10px 10px 10px 30px;*/
}
.product-index-info .product-name
{
	padding: 0px 10px 0px 10px;
}
.product-index-info i
{
	text-align:right;
	
}	
.page-content .content-block .col-50 b
{
	color: red;
	padding-top: 10px;
	
}
.page-content .content-block-title
{
	background-color:  #9225a7 ;
	font-size: 16px;
	color: #f2f2f2;
	padding: 5px 0 5px 10px;
	margin: 10px 20px 10px 20px  ;
	
}


/*slidesshow*/
.swiper-slide {
  background: white;
 padding: 10px 0 0 0 ;
  border: none;

}

.swiper-wrapper
{
	text-align:center;
}
.swiper-container {
 
 height: 180px;

}

/*search here*/
 .searchbar-init
{
	background-color: #9225a7;
}

.in-focus-search {
	background-color: #b3b3b3;
    opacity: 1 ;
    filter:alpha(opacity=50); /* For IE8 and earlier */
}

/* login creen*/

.head-login-screen
{
	margin-bottom: 100px;
}

.login-screen-content
{
	background-color: #f2f2f2;
}


.login-screen-content .list-block .item-content .item-inner
{
	
	border-bottom: 1px solid #ebc1f0;

}
.login-screen-content .list-block .item-content 
{
	padding-right: 5%;
	text-align: center;
}

.button-login
{
	background-color: #cb5bd7;
	text-align: center;
	color: white;
	width: 100%;
	
}
.button-login li
{
	padding-left: 5%;

 }
 .login-title
 {
 	padding-top: 5px;
 }

/*popup signup here*/

.signup-content
{
	background-color: #f2f2f2;
	
}

.signup-content .list-block .item-content .item-inner
{
	
	border-bottom: 1px solid #ebc1f0;
	
}
.signup-content .list-block
{
	max-width: 480px;
  margin: 24px auto;
}
 
.head-signup
{
	margin-bottom: 60px;
	background-color: #9225a7 ;
	color: #fff;
	padding-bottom: 10px;
}

.signup-content .list-block .item-content
{
	
	text-align: left;
	padding-right: 5%;
}
.signup-content .list-block .item-content .item-inner .item-title
{
	width: 50px;
}
.button-sigup
{

	background-color: #cb5bd7;
	text-align: center;
	color: white;
	width: 100%;

}

.button-signup li
{
	padding-left: 5%;
}
.picker-calendar 
{
	width: 95%;
}
/*css sanpham.html*/


.sanpham-toolbar
{
	background-color: #efd4f7;
	border-bottom: 1px solid;
	border-color: #cc6ddf;
}
.views-sanpham
{
	background-color: #f2f2f2;
}
.sanpham-info
{
	/*border-top: 1px solid;*/
	border-bottom: 1px solid;
	border-color: #cc6ddf;
	text-align: center;
	background-color: #fff;
	
}
.sanpham-info-left
{
	width: 25%;
	height: 70%;
	padding: 2% 2% 2% 2%;
	 display:inline-block;
	 
}
.sanpham-info-left img
{
	max-width: 90%;
	max-height:60px;
	/*line-height: 100%;*/
	object-fit: contain;
	vertical-align: middle;
}
.sanpham-info-center
{
	width: 30%;
	height: 50%;
	text-align: center;
	padding: 2% 2% 2% 2%;
	 display:inline-block;
	 vertical-align: middle;
	 
}
.sanpham-info-center span,p
{
	width: 100%;
	height: 100%;
	font-size: 13px;
	padding: 0px;
	margin: 0px;

}

.sanpham-info-right
{
	width: 30%;
	height: 50%;
	text-align: center;
	padding: 2% 2% 2% 2%;
	display:inline-block;
	vertical-align: middle;
	
	
}
.sanpham-info-right span,p
{
	width: 100%;
	height: 100%;
	font-size: 13px;
	padding: 0px;
	margin: 0px;
	
}
.sanpham-info-right p,i
{
	color:#d63b2f;

	
}
.sanpham-info-right span
{
	color: #a923a3;
}
.sanpham-check
{
	display:inline-block;
}


/*Thông tin sản phẩm here thongtin_sanpham.html*/
/*panel right*/
.panel-thongtinsp
{
	margin-top: 56px;
	height: 85px;
	width: 125px;
	background-color: #fff;

}
.panel-thongtinsp .list-block
{
	margin: 0px;
	width: 100%;
	height: 100%;
}
.panel-thongtinsp .list-block ul
{
	width: 100%;
	height: 100%;
}
	
.panel-thongtinsp .list-block .item-content
{
	height: 50%;
	min-height: 10px;
	padding: 0px;
	font-size: 15px;
	text-align: center;
	color: #595959;
	object-fit: contain;
	vertical-align: middle;
	
}
.panel-thongtinsp .list-block .item-content span
{
	padding: 0px 0px 0px 15px;

}
/*content here*/
.thongtinsp-input-img
{
	
	height: 80px;
	width: 100%;
	background-color: #f2f2f2;
	
}

.thongtinsp-input-img .item-inner
{
	padding: 5px;
	width: auto;
}
.thongtinsp-input-img input[type="file"]
{
	display: none;
}
.img-content-add
{
	height: 100% ;
	width: 70px ;
	position: relative;
	object-fit: contain;
	text-align: center;
	vertical-align: middle;
	border: 1px dashed red;
	background-color: #fff;
}
.img-content-add i
{
	position: absolute;
	top: 25%;
	bottom: 40%;
	left: 30%;
	right: 30%;
}

.img-content
{
	height: 100% ;
	width: 70px ;
	position: relative;
	object-fit: contain;
	text-align: center;
	vertical-align: middle;
	border: 1px solid #f2c0f0;
	background-color: #fff;
	margin-right: 5px;
	
}
.img-content img
{
	width: 100%;
	height:100%;
	object-fit: contain;
	vertical-align: middle;
	
}
/*smartselect here*/

.smart-select .item-inner .item-title
{
	padding-left: 20px;
	font-size: 16px;
	color: #ccc;

}
.smart-select .item-inner .item-after
{
	color: #333333;
	padding-left: 20px;
	font-size: 15px;
	margin-left: 0px;
}
.input-thongtinsp .item-content
{
	padding: 0px;

}
.input-tensp
{
	padding-left: 20px;
}
/*chi tiet san pham*/
.thongtin-chitietsp
{
	max-height: 90px;
	height: auto;
	width: 100%;
	background-color: #f2f2f2;
}
.thongtin-chitietsp .left
{
	
}
.thongtin-chitietsp .center
{
	
}
.thongtin-chitietsp .right
{
	
}
.thongtin-chitietsp .item-inner
{
	padding-left: 10px;
	height: 90px;
	
}
.chitietsp-content-img
{
	height: 100% ;
	width: 55px ;
	position: relative;
	object-fit: contain;
	text-align: center;
	vertical-align: middle;
	margin-right: 5px;
	
}
.chitietsp-content-img img
{
	height:100%;
	width: 100%;
	min-width:55px; 
	object-fit: contain;
	vertical-align: middle;
	
}
/*.chitietsp-content-chatlieu
{
	height: 100% ;
	width: 100px ;
	position: relative;
	object-fit: contain;
	text-align: center;
	vertical-align: middle;
	margin-right: 10px;
	
}*/
.chitietsp-content-mausac-chatlieu
{
	height: 100% ;
	width: 140px ;
	position: relative;
	object-fit: contain;
	text-align: center;
	vertical-align: middle;
	padding-left: 5px;

}

.mausac
{
	height: 50%;
	width: auto;
	position: absolute;
	margin: 0px;
	padding: 0px;
	top: 20%;
	left: 0;
	right:0;
	bottom: 70%;
	text-align: left;
	color: 	 #595959;
	

}
.mausac span
{
	padding: 0px;
	font-size: 14px;
}
.chatlieu
{
	height: 50%;
	width: auto;
	position: absolute;
	display: inline;
	margin: 0px;
	padding: 0px;
	top: 50%;
	left: 0;
	right:0;
	bottom: 50%;
	text-align: left;
	color: #595959;
}
.chatlieu span
{
	padding: 0px;
	font-size: 14px;

}

.box-mausac
{
	height: 20px;
	width: 20px;
	margin: 0px;
	position: relative;
	display: inline-block;
	object-fit: contain;
	text-align: center;
	vertical-align: middle;
	border: 1px solid #ccc;
}
.text-chatlieu
{
	margin: 0px;
	position: relative;
	display: inline-block;
	object-fit: contain;
	text-align: center;
	vertical-align: bottom;
	font-size: 14px;
}

.gia
{
	font-size: 20px;
	color: red;
}
/*chi tiết sp popup*/
.head-popup-chitietsp
{
	height: 10%;
	background-color: #9225a7 ;
	color: #fff;
	object-fit: contain;
	vertical-align: top;
	
}
.head-popup-chitietsp span
{
	font-size: 14px;
	padding: 0px;
}

.chitietsp-content .list-block
{
	margin-top: 0px;
}
.chitietsp-mausac .item-title
{
	
	color: #595959;
	padding: 5px;
}
.chitietsp-mausac-content 
{
	display: block;
	height: 40px;
	width: 100%;
	position: relative;


}
#chitietsp-mausac-content
{
	
}

.chitietsp-mausac-content-hienthi
{
	padding: 10px;
	display: block;
	width: auto;
	height: auto;
	align-items: left;
	

}
.list-block ul .chitietsp-mausac-content-hienthi ul
{
	padding-left: 0px;
}

.color-none-select
{
	border: 1px solid #000;
}
.color-selected
{
	border : 2px solid red;
}
.div-box-mausac-item
{
	height: 39px;
	width: 39px;
	margin: 0px;
	padding: 0px;
	position: relative;
	display: inline-block;
	object-fit: contain;
	text-align: center;
	vertical-align: middle;
	margin: 5px;
}

.box-mausac-item
{
	height: 35px;
	width: 35px;
	margin: 0px;
	padding: 2px;
	position: absolute;
	display: inline-block;
	object-fit: contain;
	text-align: center;
	vertical-align: middle;
	border: 1px solid #ccc;
	top: 2px;
}

/*//popup chi tiet sp chat lieu*/


.chitietsp-chatlieu .item-title
{
	
	color: #595959;
	padding: 5px;

}
.chitietsp-chatlieu-content-hienthi
{
	padding: 10px;
	display: block;
	width: 100%;
	height: auto;
	align-items: left;
}

.list-block ul .chitietsp-chatlieu-content-hienthi ul
{
	padding-left: 0px;
}
.danhsach-chatlieu
{
	width: 100%;
}
.chatlieu-item
{
	width: 100%;
}
.chatlieu-item .label-radio
{
	width: 100%;
}
.label-radio .item-inner
{

}
.label-radio .item-inner .item-title
{
	text-align: left;
	width: 80%;

}
